* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

:root {
    --main-left-pad: 20px;
    --primary-one: #B8B42D;
    --primary-two: #697A21;
    --primary-three: #FFFCE8;
    --secondary-one: #3E363F;
    --secondary-two: #DD403A;
    font-family: "Figtree", sans-serif;
    color: var(--secondary-one);
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color:var(--primary-two);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 20px;
    color: var(--primary-three);
}

.sidebar .home, .sidebar .nav, .sidebar .assistance {
    margin-bottom: 40px;
    line-height: 1.8;
}

.header {
    background-color: var(--primary-three);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: var(--main-left-pad);
    height: 60px;
}

.header .user {
    display: grid;
    align-items: center;
    padding-left: var(--main-left-pad);
    padding-right: 60px;
}

.welcome {
    background-color: var(--primary-three);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: var(--main-left-pad);
    height: 60px;
    align-items: center;
    padding-right: 60px;
}

.content {
    background-color: var(--primary-one);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 30px;
    padding-left: var(--main-left-pad);
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 20px;
}

ul{
    padding: 0px;
}

li {
    list-style: none;
}

.sidebar>* ul li{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding: 0px;
    align-items: center;
}

.proj-container .card {
    height: 200px;
    border-left: 10px solid var(--secondary-two);
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-rows: 20px 1fr 20px;
}

.card ul {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.user ul {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
}

.user ul li {
    display: grid;
    align-items: center;
}

.welcome .user {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 20px 20px;
    column-gap: 20px;
    align-items: center;
}

.welcome .user .profile_welcome {
    grid-row: 1 / 3;
}

.controls ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    gap: 20px;
}

.controls ul button {
    background-color: var(--primary-two);
    color: var(--primary-three);
    height: 34px;
    width: 100%;
    border-radius: 17px;
    min-width: 40px;
}

.proj-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.announce-container, .trend-container, .card {
    background-color: var(--primary-three);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--secondary-one);
}

.announce-container, .trend-container {
    margin-bottom: 50px;
}

.announce-container {
    padding: 20px;
}


.trend-container {
    padding: 20px;
}

.announcement.top, .announcement.mid {
    border-bottom: 1px solid var(--secondary-one);
    padding-bottom: 10px;
}

.announcement.bot, .announcement.mid {
    padding-top: 10px;
}

.search-container {
    display: grid;
    align-items: center;
}

input {
    border: 1px solid grey;
    background-color: var(--primary-one);
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    color: var(--secondary-one);
}

form button {
    background-color: transparent;
}

form {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
}

h2 {
    margin-bottom: 10px;
}

h4 {
    font-weight: bold;
}

.profile_header {
    background-color: blue;
}

.profile_welcome {
    background-color: blue;
    height: 100%;
    width: auto;
}