* {
    box-sizing: border-box;
}

:root {
    --main-left-pad: 20px;
    --card-bg-color: white;
    font-family: "Hedvig Letters Sans", sans-serif;
}

/* .hedvig-letters-sans-regular {
    font-family: "Hedvig Letters Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color:cornflowerblue;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: var(--main-left-pad);
}

.welcome {
    background-color: bisque;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: var(--main-left-pad);

}

.content {
    background-color: grey;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    padding-left: var(--main-left-pad);

}

ul{
    padding: 0px;
}

li {
    list-style: none;
}

.sidebar>* ul li{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding: 0px;
}

.assistance, .home, .nav {
    border: solid black 1px;
}

.proj-container .card {
    height: 200px;
    border-left: 10px solid red;
}

.card .stripe {
    grid-row: 1 / -1;
    /* background-color: green; */
}

.card ul {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.user ul {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.welcome .user {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 10px 20px;
    column-gap: 10px;
}

.welcome .user .img {
    grid-row: 1 / 3;
}

.controls ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.proj-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.ann-container, .trend-container, .card {
    background-color: var(--card-bg-color);
    border: solid black 1px;
    border-radius: 10px;
}